@font-face {
  font-family: "norse";
  src: url("./fonts/Norse.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "norse";
  src: url("./fonts/Norsebold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.background-image {
  width: 100%;
  height: 100%;
}

.background {
  width: 60vw;
  height: 100%;
  position: relative;
}

.content {
  width: 100vw;
}

.heading {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3vh;
  width: 100%;
}

input {
  display: block;
  width: 60%;
  height: 70%;
}

label {
  font-size: 0.7rem;
}

.legend {
  margin-bottom: 1rem;
}

.border {
  border: 1px solid grey;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-left: none;
  border-right: none;
}

button {
  margin-top: 1.5rem;
  margin-left: 2rem;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: rgb(119, 86, 63);
  color: white;
  border: none;
  font-weight: 600;
}

p {
  margin-top: 1.5rem;
  margin-left: 2rem;
}

content a {
  text-decoration: none;
  color: rgb(119, 86, 63);
  font-weight: 600;
}

.text {
  margin-top: 6rem;
  padding-left: 2rem;
  width: 80%;
}

.heading {
  padding-left: 2rem;
}

.odin-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.376);
  width: 100%;
  height: 120px;
  top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.odin {
  width: 100px;
  height: 100px;
}

.odin-container p {
  font-size: 4rem;
  font-family: "norse", sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
  margin-left: 0;
}

.credits {
  position: absolute;
  color: white;
  width: 100%;
  height: 30px;
  bottom: 10%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.credits p {
  white-space: nowrap;
  font-size: 1rem;
  margin-left: 0;
}

.credits a {
  color: white;
}
/* update background pic details */
/* update body and font background colors */
/* increase box-shadow to form and buttons */